.popular-container .popular-container_movies {
  display: flex;
  flex-wrap: wrap;
}
.popular-container .popular-container_movies-item {
  flex: 1 1 100%;
  margin: 10px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  transition: all 0.5s;
}
.popular-container .popular-container_movies-item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.popular-container .popular-container_movies-item:hover {
  transform: scale(0.95);
}
@media screen and (min-width: 325px) {
  .popular-container .popular-container_movies-item {
    flex: 1 1 45%;
  }
}
@media screen and (min-width: 700px) {
  .popular-container .popular-container_movies-item {
    flex: 1 1 22%;
  }
}
@media screen and (min-width: 1900px) {
  .popular-container .popular-container_movies-item {
    flex: 1 1 8%;
  }
}
.popular-container .popular-container_movies-item .detail {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
}
.popular-container .popular-container_movies-item h4,
.popular-container .popular-container_movies-item p {
  margin: 0;
}
