.season-block {
    background: #141212;

    h2 {
        margin: 0;
        font-size: 36px;
        background: #141212;
        padding: 20px 0 20px 15px;
    }

    &-container {

        h3 {
            margin: 0;
            padding: 10px 0 10px 15px;
            font-weight: 400;
            font-size: 26px;
            text-align: left;
        }

        &_episode {
            margin-bottom: 50px;

            &-img {
                height: 200px !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }

            &-text {
                padding: 0 15px;

                h3 {
                    font-size: 24px;
                    font-weight: 100;
                    margin: 20px 0;
                    padding: 0;
                }

                p {
                    margin: 20px 0;
                    text-align: justify;
                    font-weight: 100;
                    color: darkgrey;

                }
            }
        }
    }
}