.header {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  left: 0;
  z-index: 999999;
  background: #131212;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  text-align: left;
  box-sizing: border-box;
}
.header .show i {
  font-size: 20px;
}
.header .show-search {
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0;
  height: 0;
  transition: 0.5s all;
  overflow: scroll;
}
.header .show-search input {
  padding: 0;
  border: 0;
  width: 100%;
  background: #222222;
  transition: 0.5s all;
  -webkit-appearance: none;
  border-radius: none;
}
.header .show-search input::placeholder {
  color: white;
}
.header .show-search i {
  position: absolute;
  right: 20px;
  top: 0;
  transition: 0.5s all;
}
.header .search {
  height: 50vh !important;
}
.header .search input {
  padding: 20px;
}
.header .search input:focus {
  color: white;
  outline-style: none;
}
.header .search input:focus::placeholder {
  color: transparent;
}
.header .search i {
  top: 20px;
}
.header .logo {
  flex: 80%;
}
@media screen and (min-width: 1000px) {
  .header .logo {
    flex: 90%;
  }
}
.header .logo a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: 900;
}
.header .logo a i {
  font-size: 24px;
  margin-right: 10px;
}
.header .list {
  margin: -2px 0 0 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 99;
  position: absolute;
  background: #222222;
  transition: all 0.5s;
  overflow: scroll;
  color: white;
}
.header .list ul {
  height: auto;
  overflow: scroll;
  padding: 0;
  margin: 0;
}
.header .list ul .list-item {
  display: flex;
  border-bottom: 1px solid #df0f61;
  padding: 10px;
  height: 140px;
  color: white;
  text-decoration: none;
}
.header .list ul .list-item_img {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  flex: 0 1 30%;
}
.header .list ul .list-item_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .list ul .list-item_text h4 {
  margin: 0 0 20px 0;
  font-size: 18px;
}
.header .list ul .list-item_text p {
  margin: 0;
  font-weight: 100;
}
.header .app-routes {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0px;
  left: 0;
  padding-bottom: 5px;
  font-size: 14px;
  align-items: center;
}
.header .app-routes_movies,
.header .app-routes_tv {
  flex: 50%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.header .app-routes_movies::before {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #df0f61;
  transition: all 0.5s;
}
.header .app-routes_active::before {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background: #df0f61;
}
.header .desktop-nav-menu {
  display: none;
}
@media screen and (min-width: 769px) {
  .header .desktop-nav-menu {
    display: block;
    width: 30%;
  }
  .header .desktop-nav-menu .nav {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: space-between;
  }
  .header .desktop-nav-menu .nav .nav-link a {
    color: #df0f62;
    text-decoration: none;
    font-size: 20px;
  }
  .header .desktop-nav-menu .nav .nav-link a:hover {
    color: #cccccc;
  }
  .header .desktop-nav-menu .nav .nav-link:first-child i {
    display: none;
  }
  .header .desktop-nav-menu .nav .genre-dropdown {
    display: none;
  }
  .header .desktop-nav-menu .nav .genres-menu {
    display: none;
  }
}
.header .mobile-nav {
  color: white;
  display: flex;
  justify-content: space-between;
  flex: 0 1 15%;
}
@media screen and (min-width: 769px) {
  .header .mobile-nav {
    display: none;
  }
  .header .mobile-nav .desktop-nav-menu ul {
    display: flex;
    margin-top: 0;
    color: white;
    list-style: none;
  }
}
.header .mobile-nav i {
  font-size: 18px;
  color: #df0f61;
}
.header .mobile-nav .fa-search {
  color: #df0f61;
}
.header .mobile {
  width: 50% !important;
  padding: 20px;
}
.header .mobile-menu {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  display: unset;
  width: 0%;
  z-index: 99;
  left: 0;
  right: 0;
  border-radius: 0;
  position: absolute;
  background: #222222;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
  white-space: nowrap;
}
.header .mobile-menu ul {
  margin: 0;
  padding: 0;
}
.header .mobile-menu ul li {
  padding: 10px 0;
  color: white;
  list-style: none;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mobile-menu ul li:hover {
  color: #df0f61;
  cursor: pointer;
}
.header .mobile-menu ul li:first-child a {
  color: #df0f61;
  font-size: 22px;
}
.header .mobile-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  width: 100%;
}
.header .mobile-menu ul li a:hover {
  color: #df0f61;
}
