@import 'Header/Header.css';
@import 'Slider/slide.css';
@import 'PopularMovies/Popular.css';
@import 'NewReleases/NewReleases.css';
@import 'Footer/Footer.css';
@import 'SingleMoviePage/MoviePage.css';
.slide {
  color: white;
}
h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 50px;
  text-align: left;
  padding-left: 20px;
}
#btn {
  background: #df0f62;
  padding: 10px 15px;
  border-radius: 5px;
  width: fit-content;
  color: white;
  border: none;
  transition: all 0.5s;
}
#btn:hover {
  background: #c70d57;
  cursor: pointer;
}
#btn i {
  color: white;
  margin-left: 5px;
}
body {
  margin: 0;
}
body .App {
  text-align: center;
  background: #131212;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
.hide {
  display: none;
}
.show {
  display: block;
  margin-right: 15px;
}
#search {
  background: #df0f62;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
}
#search a {
  color: white;
}
#search i {
  margin-left: 5px;
  color: white;
}
/* Movie Stats Styles */
.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.stats .rating {
  display: flex;
  align-items: center;
}
.stats .rating p {
  margin-right: 7px;
  margin: 0 0 0 10px;
}
.stats .favorite {
  margin-right: 20px;
}
.stats i {
  font-size: 13px;
  color: #df0f62;
  transform: scale(1);
  border-radius: 50%;
}
.pulse-active {
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(223, 15, 97, 0.7);
  }
  50% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(223, 15, 97, 0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(223, 15, 97, 0);
  }
}
.recent {
  margin-top: 80px;
  padding: 10px;
}
.recent .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #df0f62;
  padding: 0 15px;
  border-radius: 5px 5px 0 0;
}
.recent .title h2 {
  margin: 20px 0;
  padding: 0;
  font-size: 24px;
}
.recent .title i {
  padding: 20px 10px 20px 20px;
}
.recent-container {
  transition: all 0.7s;
  height: 500px;
  overflow: scroll;
}
.recent-container_items {
  padding: 15px 15px 0 15px;
  border: 1px solid #2d2e2f;
}
.recent-container_items--item {
  display: flex;
  background-color: #222222;
  border-radius: 7px;
  height: 250px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}
.recent-container_items--item .img {
  width: 100% !important;
  display: block !important;
  flex: 60% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border-radius: 7px;
}
.recent-container_items--item .text {
  flex: 50% 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.recent-container_items--item .text h4 {
  font-size: 22px;
  text-align: left;
}
.recent-container_items--item .text p {
  color: darkgrey;
  font-size: 16px;
}
.recent .hidden {
  height: 0 !important;
  overflow: hidden;
}
