.single-movie {
  background: #0d0f0a;
}
.single-movie h2 {
  font-size: 38px;
  text-align: left;
  padding: 10px;
  margin: 20px 0;
}
.single-movie_info {
  position: relative;
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.single-movie_info li {
  color: darkgray;
  font-size: 12px;
  list-style: none;
  flex: 1 1 auto;
  text-align: left;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .single-movie_info li {
    flex: 0 1 auto;
    margin-right: 20px;
  }
}
.single-movie_info li:hover {
  cursor: pointer;
  color: #c3c3c3;
}
.single-movie_info li a {
  color: darkgrey;
  margin-left: 0px;
}
.single-movie_info li a:hover {
  cursor: pointer;
  color: #c3c3c3;
}
.single-movie_info .popularity i {
  color: #df0f62;
}
.single-movie_img {
  height: 50vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center top !important;
}
@media screen and (min-width: 769px) {
  .single-movie_img {
    background-size: contain !important;
    background-position: center center !important;
  }
}
.single-movie_text {
  text-align: left;
  display: inline-block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.single-movie_text h3 {
  font-size: 24px;
  font-weight: 200;
  margin: 10px 0 0 0;
  text-transform: capitalize;
}
.single-movie_text p {
  font-weight: 100;
  font-size: 16px;
  color: darkgray;
  margin: 10px 0;
}
.single-movie_text .recent {
  padding: 0;
}
.single-movie_text-links {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  flex-wrap: wrap;
}
.single-movie_text-links .watch-now {
  background: #222222;
}
.single-movie_text-links .watch-now:hover {
  background: #2f2f2f;
}
.single-movie_text-links a {
  color: white;
  text-decoration: none;
  border: 1px solid #222222;
  font-size: 17px;
  width: 100%;
  flex-basis: calc(50% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.single-movie_text-links a:hover {
  background: #222222;
}
.single-movie_text-links a:focus {
  border: none;
  outline: none;
  color: white;
}
.single-movie .rating {
  text-align: center;
  padding: 0;
  margin: 5px 0;
}
.single-movie .rating .stars {
  width: 90%;
  display: flex;
  margin: 20px 0;
}
.single-movie .rating .stars i {
  flex: auto;
  color: #df0f62;
}
.single-movie .rating-btn {
  background: #df0f62;
  border-radius: 7px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 17px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 400px) {
  .single-movie .rating-btn {
    justify-content: center;
  }
  .single-movie .rating-btn i {
    margin-left: 10px;
  }
}
.single-movie .rating-btn:focus {
  outline: none;
}
.single-movie .rating-btn_active i {
  animation: btn-press 0.5s forwards;
}
.single-movie .rating-container {
  position: fixed;
  bottom: 0;
  transition: all 0.7s;
  overflow: scroll;
  background: #222222;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  align-items: center;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  z-index: 9;
  height: 0;
}
.single-movie .rating-container .btn {
  background: #df0f62;
  outline: none;
  width: 50%;
  border: none;
  padding: 15px;
  border-radius: 7px;
  font-size: 22px;
  margin-top: 10px;
  transition: all 0.5s;
  overflow: hidden;
}
.single-movie .rating-container .btn-active {
  animation: btn-press 0.5s forwards;
}
.single-movie .rating-active {
  height: 30vh;
  bottom: 0;
  border-top: 1px solid grey;
}
.seasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.seasons h4 {
  flex: 1 0 38%;
  text-align: center;
  border: 1px solid #222222;
  padding: 15px;
  border-radius: 7px;
  margin: 5px;
}
@keyframes btn-press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
